.baloon{
	position: relative;
	background-color: #fff;
	border: 4px solid #666;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	margin:10px;
	padding:20px;
}

.tweetTextBoxDammy{
	border: 4px solid #666;
	border-radius:10px;
}

.defaultList{
	list-style-type: none;
}

#listPage{
	display:none;
}

#retweetPage{
	display:none;
}

#tweetPage{
	display:none;
}


ul.ui-content {
    list-style: none;
}
hr.clear {
	border: none;
}
img[class^="image-"] {
    width: 64px;
    height: 64px;
}
.image-left {
    float: left;
}
.image-right {
    clear: both;
}

.arrow-box-left-container {
    margin-left: 100px;
    width: 50%;
}
.arrow-box-right-container {
    float: left;
    margin-right: 5%;
    width: 50%;
}
.arrow-box-left, .arrow-box-right {
    padding-left: 1em;
}

.arrow-box-left, .arrow-box-right {
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 下記はジェネレータサイトで作った.http://cssarrowplease.com */
.arrow-box-left {
	position: relative;
	background: #ffffff;
	border: 2px solid #a8a8a8;
}
.arrow-box-left:after, .arrow-box-left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 20px;
	margin-top: -20px;
}
.arrow-box-left:before {
	border-color: rgba(168, 168, 168, 0);
	border-right-color: #a8a8a8;
	border-width: 23px;
	margin-top: -23px;
}

.arrow-box-right {
	position: relative;
	background: #ffffff;
	border: 2px solid #a8a8a8;
}
.arrow-box-right:after, .arrow-box-right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 20px;
	margin-top: -20px;
}
.arrow-box-right:before {
	border-color: rgba(168, 168, 168, 0);
	border-left-color: #a8a8a8;
	border-width: 23px;
	margin-top: -23px;
}
